<div>
  {{input type="number" class="form-control" placeholder="min" value=minutes min="0" pattern="\d*"}}
  <span>Minutes</span>
</div>
<div>
  {{input type="number" class="form-control" placeholder="sec" value=seconds min="0" pattern="\d*"}}
  <span>Seconds</span>
</div>