<div class="person">
  <div class="left">
    <div class="image">
      {{#link-to "users.user" model.userId}}<img class="img-circle img-responsive" src={{photoURL}} />{{/link-to}}
    </div>
    <div class="info">
      <span class="name">{{#link-to "users.user" model.userId}}{{model.userName}}{{/link-to}}</span>
    </div>
  </div>
</div>
