<div class="person">
  <div class="image">
    <img class="img-circle img-responsive" src={{photoURL}} />
  </div>
  <div class="info">
    <div class="whole">
      <span>{{model.userName}}</span>
    </div>
  </div>
</div>
