<div class="person">
  <div class="left">
    <div class="image">
      <img class="img-circle img-responsive" src={{photoURL}} />
    </div>
    <div class="info">
      <span class="name">{{model.userName}}</span>
    </div>
  </div>
</div>
