{{partial "alert"}}

<form role="form">
  <div class="form-group {{if error.email 'has-error'}}">
    <label for="email">Email</label>
    {{input type="email" id="email" value=email class="form-control" placeholder="Email"}}
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary pull-right" {{action 'forgot'}} data-loading-text="Sending...">Send Email</button>
  </div>
</form>
