{{partial "alert"}}

<form role="form">
  <div class="form-group" class={{if error.email 'has-error'}}>
    <label for="email">Email</label>
    <input type="email" id="email" class="form-control" placeholder="Email">
  </div>
  <div class="form-group" class={{if error.password 'has-error'}}>
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary pull-right" {{action 'login'}} data-loading-text="Loging In...">Log In</button>
    {{#link-to 'auth.forgot' class="btn btn-link pull-left"}}Forgot password?{{/link-to}}
  </div>
</form>
