$grid-float-breakpoint: 700px;

@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bower_components/bootstrap-social/bootstrap-social.scss';

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

a, input, button {
  -ms-touch-action: none !important;
}

body {
  padding-top: 50px;
  @media (max-height: $grid-float-breakpoint) {
    padding-top: 55px;
  }
}

button:focus {
  outline: none;
}

.selector {
  text-align: center;
  margin-top: 12px;
}

.selected {
  background-color: darken($btn-default-bg, 8%);
}

ul.nav {
  li {
    cursor: pointer;
  }

  &:last-child {
    margin-right: 12px;
  }
}

.pull-left {
  padding-left: 0px;
}

#time {
  display: table;

  input {
      width: 50%;
      display: inline;
      text-align: right;
  }
  span {
    padding-left: 5px;
  }
  div {
    width: 50%;
    display: table-cell;
  }
}

textarea {
  resize: none;
}

button.cancel {
  margin-right: 12px;
}

i.fa-caret-down {
  padding-left: 5px;
}

.workout {
  h1 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0.2rem;

    @media (max-width: 40em) {
      font-size: 2.5rem;
    }
  }

  h2 {
    font-size: 2.2rem;
    line-height: 1;
    margin-top: 0.4rem;

    @media (max-width: 40em) {
      font-size: 1.8rem;
    }
  }

  h3 {
    font-size: 1.6rem;
    line-height: 1;
    margin-top: 0.2rem;
    display: inline;

    @media (max-width: 40em) {
      font-size: 1.2rem;
    }
  }
}

#map {
  width: 100%;
  height: 200px;
  margin-bottom: 12px;

  @media (min-height: 600px) {
    height: 300px;

    &.big-map {
      height: auto;
    }
  }

  &.big-map {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
  }
}

form .form-group:last-child {
  height: 33px
}

form {
  margin-top: 8px;
}

p.loading-status {
  position: relative;
  top: 75px;
  text-align: center;
}

.no-margin-top {
  margin-top: 5px;
}

.container {
  max-width: 600px;

  &.auth {
    max-width: 400px;
  }
}

.list-group {
  margin-bottom: 0px;

  .list-group-item {
    cursor: pointer;
    display: table;
    width: 100%;

    .split {
      display: table-cell;
      vertical-align: middle;

      &:last-child {
        text-align: right;
      }
    }
  }
}

.modal-footer {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.missing-workout {
  margin-top: 16px;

  h2 {
    color: $brand-danger;
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.form-group.has-error label {
  color: $brand-danger;
}

.form-group.has-error span {
  font-weight: bold;
  color: $brand-danger;
}

.person {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: #CCC 1px solid;

  .left {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    overflow-x: hidden;
  }

  .rank {
    margin-right: 6px;
  }

  .image {
    width: 50px;
    height: 50px;
    position: relative;
    flex-shrink: 0;

    img {
      position: absolute;
    }

    .result-pr {
      position: absolute;
      background-color: white;
      color: #F1D114;
      bottom: 0;
      right: 0;
      border-radius: 11px;
      padding: 2px 2px 2px 3px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    margin: 0 3px;
    overflow-x: hidden;
    white-space: nowrap;

    .name {
      font-size: 1.2em;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    .actions {
      display: flex;
      justify-content: space-around;
    }
  }

  .results {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}

.workout-list {
  ul {
    list-style: none;
    padding-left: 0px;

  }

  .workout-item {
    height: 50px;
    border-bottom: 1px solid #DDD;
    padding: 5px 5px;

    span {
      display: block;

      &:first-child {
        font-size: 1.2em;
        font-weight: bold;
      }
    }

    button {
      float: right;
      position: relative;
      top: -37px;
    }
  }

  li span {
    line-height: 20px;
  }

  div span {
    line-height: 40px;
  }
}

.time-entry {
  display: table;

  input {
    width:50%;
    display:inline;
    text-align:right;
  }

  span {
    padding-left: 5px;
  }

  div {
    width:50%;
    display:table-cell;
  }
}

span.separator {
  display: block;
  margin: 5px 0px;
  text-align: center;
}

.btn-margin-top {
  margin-top: 24px;
}

span.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.checkbox {
  padding-left: 20px;
}

.card {
  border: solid gray 1px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px gainsboro;
  text-align: center;
  padding: 6px;
  margin-top: 12px;
  display: inline-block;
  background-color: #f6f6f6;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    background-color: white;
  }

  &:active {
    background-color: #DDD;
  }

  &.selected {
    color: blue;
  }
}

.card-container {
  display: block;
}

.top-margin {
  margin-top: 12px;
}

.center {
  text-align: center;
}

#calendar {
  max-width: 1200px;
  margin: 0 auto;
}

.green-day {
  background-color: #D5F8CF;
}

a.fc-day-grid-event {
  cursor: pointer;
}

.event-item {
  display: table;
  width: 100%
}

.event-item-select {
  display: table-cell;
}

.event-item-buttons {
  display: table-cell;
  width: 120px;
  text-align: center;
}

.checkbox-array {
  float: right;

  input {
    margin-left: 12px;
  }
}

.week-select {
  display: inline;
  width: initial;
}

.schedule-well {
  padding-top: 0px;
  padding-bottom: 0px;
}

.form-group.has-error {
  .tag-control span {
    color: white;
  }
}

.tag-control {
  input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }

  .tag {
    margin-right: 6px;
    font-size: 0.9em;

    button {
      border: none;
      background: transparent;
      box-shadow: none;
      outline: none;
      padding: 0;
      margin: 0;
      margin-left: 8px;
    }
  }
}

.week-calendar {
  width: 100%;
  border: 1pt solid #CCC;

  .header {
    display: table;
    table-layout: fixed;
    width: 100%;

    div {
      display: table-cell;
      padding: 3pt 0pt;
      border-bottom: 1pt solid #CCC;
      text-align: center;
      vertical-align: middle;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }

      button {
        padding: 0pt 6pt;
      }

      span.month {
        font-size: 1.3em;
        font-weight: bold;
      }
    }
  }

  .week {
    display: table;
    table-layout: fixed;
    width: 100%;
    cursor: pointer;

    .day {
      display: table-cell;
      padding: 6pt 0pt;
      border-right: 1pt solid #CCC;

      &:last-child {
        border-right: 0;
      }

      &.secondary {
        color: #AAAAAA;
      }

      &.today {
        background-color: #FFF9C4;
      }

      &.has-event {
        color: #1E88E5;

        &.secondary {
          color: #90CAF9;
        }
      }

      &.selected, &:active {
        background-color: #E0E0E0;
      }

      &:hover {
        background-color: #EEEEEE;
      }

      span {
        display: block;
        text-align: center;

        &.day-of-week {
        }

        &.day-of-month {
          font-weight: bold;
          font-size: 2em;
          @media screen and (max-width: 580px) {
            font-size: 5vw;
          }
        }
      }
    }
  }
}

.navbar-brand-title {
  cursor: pointer;
  padding-left: 0px;

  @media (min-width: $grid-float-breakpoint) {
    padding-left: $navbar-padding-horizontal;
  }
}

.navbar-inverse .navbar-toggle {
  border-color: $gray;
  color: $navbar-inverse-color;

  &:hover {
    color: white;
  }
}

.profile {
  &.user {
    display: flex;
    margin-top: 20px;

    img {
      height: 100px;
      width: 100px;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 12px;

      .name {
        font-size: 1.8em;
        font-weight: bold;
        margin-bottom: 3px;
      }

      .tribe {
        display: flex;
        flex-wrap: wrap;

        span {
          font-size: 1.1em;
        }
      }

      .social {
        margin-top: 6px;
      }
    }
  }

  &.stats {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
