<form role="form">
  <div class="form-group event-item">
    <div class="event-item-select">
      {{view "select" content=controllers.workouts
                optionValuePath="content"
                optionLabelPath="content.title"
                prompt="Select a Workout"
                value=workout
                class="form-control"}}
    </div>
    <div class="event-item-buttons">
      <button class="btn btn-default">Edit</button>
      <button class="btn btn-default">New</button>
    </div>
  </div>

  <div class="form-group event-item">
    <div class="event-item-select">
      {{view "select" content=controllers.locations
                optionValuePath="content"
                optionLabelPath="content.title"
                prompt="Select a Location"
                value=location
                class="form-control"}}
    </div>
    <div class="event-item-buttons">
      <button class="btn btn-default">Edit</button>
      <button class="btn btn-default">New</button>
    </div>
  </div>
</form>