{{#if error_message }}
  <div class="alert alert-danger" role="alert" style="margin-top: 12px;">{{error_message}}</div>
{{else}} {{#if info_message }}
  <div class="alert alert-info" role="alert" style="margin-top: 12px;">{{info_message}}</div>
{{/if}}{{/if}}